.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Auto-list{
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Auto-list thead th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.Auto-list th,
.Auto-list td {
    padding: 12px 15px;
}

.Auto-list tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Auto-list tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Auto-list tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
